@charset "utf-8";
body {
	margin: 0px 0px 0px 0px;
}
.background {
	position:fixed;
	z-index: -100;
	height:auto;
	left:0px;
	top:0px;
	width:100%;
	min-height: 100%;
}
.mainbody {
	width: 960px;
	min-height: 600px;
	overflow: hidden;
	background-color: aliceblue;
	background-image:url(Images/beachNetBanner.jpg) ;
	background-repeat:no-repeat;
	margin-right: auto;
	margin-left:auto;
}
.mainlogo {
	width:299px;
	height:160px;
	float:left;
	margin-right: auto;
	margin-left: 50px;
	
}
.navbar{
	float:left;
	border:2px solid black;
	width: 700px;
	height:26px;
	margin: 50px 122px;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
}
li {
	float:left;
}
.navbar a:link,a:visited {
	display:block;
	font-weight: bold;
	color:#FFFFFF;
	background-color: #287abc;
	width:167px;
	text-align:center;
	padding:4px;	
}
.navbar a:hover,a:active {
	background-color:#029edd;
	
}
.signup {
	float:right;
	overflow: hidden;
	padding-right: 20px;
	padding-top: 50px;
}
.content {
	float: left;
	width: 940px;
	margin-bottom: 5px;
	background-color: white;
	min-height: 200px;
	overflow: hidden;
	margin-left: 8px;
	border:2px solid black;
	
}
.contentimagecontainer {
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	
}
h1 {
	text-align: center;
	color: #002850;	
}
.webfooter {
	float:none;
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	background-color: white;
}
.webfooter p {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
}
.contenttextbox {
	background-color:#f1eee4;
	float: none;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	
}
#leaderboard {
	background-color:#f1eee4;
	float: none;
	overflow: hidden;
	margin-top:10px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#linktext {
	background-color:#f1eee4;
	float: none;
	overflow: hidden;
	line-height: 0;
	width: 500px;
	margin-right: auto;
	margin-left:auto;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}
#contacttext {
	background-color:#f1eee4;
	float: none;
	overflow: hidden;
	width: 500px;
	line-height: 0;
	margin-right: auto;
	margin-left:auto;
	margin-top: 10px;
	padding:10px 10px 10px 10px;
	margin-bottom: 10px;
}
.content a:visited {
	color: purple;
}
.content a:hover,a:active {
	background-color: #f1eee4;
}
#leaderboard tr {
	text-align: center;
}
#linktext p {
	line-height: 1em;
}
.registerbox {
	background-color:#f1eee4;
	float: left;
	overflow: hidden;
	width: 500px;
	margin-left:10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.registerimage {
	float:right;
	margin: 10px 10px 10px 10px;
	
}
#registerseperate input {
	padding-left: 10px;
	margin-right: 60px;
	height: 20px;
	width: 180px;
}
a img{
	display: block;
}
#registerseperate tr {
	text-align: right;
}
input {
margin-right: 60px;
}
.registerbox p {
	text-align: center;
}
#contacttext td {
	text-align: left;
}